/sortingHat/helpers/APIKeys*
/SmartTeaPants/__pycache__/
sortingHat/__pycache__/
sortingHat/helpers/__pycache__/
sortingHat/migrations/__pycache__/
reppinTheseTeas/__pycache__/
reppinTheseTeas/helpers/__pycache__/
reppinTheseTeas/migrations/__pycache__/
keepingItReal/__pycache__/
keepingItReal/migrations/__pycache__/
keepingItReal/exporters/__pycache__/
keepingItReal/importers/__pycache__/
library/__pycache__/
library/migrations/__pycache__/