Django==1.8.3
virtualenv==13.1.0
wheel==0.24.0
Django==1.8.3
virtualenv==13.1.0
wheel==0.24.0
basicauth==0.2
dj-database-url==0.3.0
Django==1.8
mock==1.0.1
numpy==1.9.2
oauthlib==0.7.2
pandas==0.16.0
python-dateutil==2.4.2
python-oauth2==0.7.0
pytz==2015.2
requests==2.6.0
requests-oauthlib==0.4.2
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
SQLAlchemy==1.0.4
tweepy==3.3.0
wheel==0.24.0
whitenoise==1.0.6
